ul {
  list-style: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}
.flex_container {
  display: flex;
}

.flex-container > li {
  margin: 0 5px;
}
li {
  padding-left: 20px;
}